
body{

}
h1{
font-size:130px;
}
h2{
font-size:100px;
}

vote {font-size:220px;position:relative;text-align:center}
h2.voteresult{font-size:200px;
position: absolute;
  top: 50%;
  left: 50%;
opacity:1;color:black;
z-index:100 !important;
 transform: translate(-50%, -50%);
}
