{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h1>Průběžné výsledky </h1>
<div class=row>

{% for player  in players %}
<div class=col-lg-6 >
<div style="width:500px;height:500px;">

<img src="/{{player.Photo}}" class="img-circle"
style="width:500px;opacity:0.6;z-index:-100 !important;position:relative;"
/>
<h2 class="voteresult text-center">
	{{ player.TotalVotes}}</h2>	

</div>
</div>
{% endfor %}

</div>
</div>
{% endblock %}

{% block title %}
Průběžné výsledky
{% endblock %}


{% block next %}{{ url('app_default_kill')}}{% endblock %}
