{% extends 'base.html.twig' %}
{% block body %}
	<div class=container>
		<div class=row> 
			<div class=col-sm-12
			style="z-index:1000;"
			>
				<img src="{{ asset('bundles/app/img/crown.b.png') }}"  class="img-responsive" 
				style="margin-bottom:-10%;"
				>
			</div>
			<div class=col-sm-12>
				{{include('default/player.html.twig',{'player':player}) }}
			</div>
		</div>
		<div class=row>
		</div>
	</div>
{% endblock %}
{% block next %}
{{ url('app_player_winner',{'Winner':player.Id,"redraw":"yes"}) 
}}"
{% endblock %}

