{% extends 'base.html.twig' %}

{% block body %}
<div class=container>
<h1 >Vyřazený hráč</h1>

<div class=row>

<div class=col-lg-12>

<img src="/{{player.Photo}}" class=" img-circle img-responsive" >
</div></div>
<div class=row>
<h2>{{player.playerName}}</h2>
</div>
</div>
{% endblock %}
{% block next %}{{ url('app_default_nextround')}}{% endblock %}
