{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h1>{{ nadpis }}</h1>
<div class=row>

{% for player  in players %}
	<div class="col-sm-6 col-lg-6" >
	{{include('default/player.html.twig',{'player':player}) }}
	</div>
{% else %}
	Hráči jsou všichni mrtví.
{% endfor %}

</div>
</div>

{% endblock %}
{% block title %}
{{nadpis }}
{% endblock %}
{% block next %}
{{next }}
{% endblock %}
