{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h1>Průběžné výsledky </h1>
<div class=row>

{% for player  in players %}
<div class="col-lg-6 col-md-6" >
<div class=vote >

<img src="/{{player.Photo}}" class="img-circle img-fluid"
style="opacity:0.6;z-index:-100 !important;width:100%;"
/>
<h2 class="voteresult ">{{ player.TotalVotes}}</h2>	

</div>
</div>
{% endfor %}

</div>
</div>
{% endblock %}

{% block title %}
Průběžné výsledky
{% endblock %}


{% block next %}{{ url('app_default_kill')}}{% endblock %}
