
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/milligram.css">
  <link rel="stylesheet" href="/css/voter.css">
</head>
<body>
  <h1>Improsurvival</h1>
{% block body %}{% endblock %}
</body>
</html>
