{% extends 'voter.html.twig' %}
{% block body %}
  Vítej na vyřazovací soutěži Improsurvival!
  <br>
  Pravidla jsou následující:
  <ol>
    <li>Nic není připravené.</li>
    <li>Body z jednotlivých kol se sčítají.</li>
    <li>Po několika kolech vyřazujeme hráče s nejnižším  celkovým bodovým skóre. </li>
  </ol>
  <br>
  Po vyzvání se přesuňte do dalšího kola. Hlasovat dřív stejně nemá smysl.<br> Aplikace používá cookies.<br><br>
  <a class=button href="{{url('app_voting_offervoting') }}">Přejít</a>
  <small>Aplikace používá cookies</small>
{% endblock %}
